*
{
  margin: 0;
  padding: 0;
}

.product-small-img img
{
  height: 100px;
  margin: 10px 0;
  cursor: pointer;
  display: block;
  opacity: 1.6;
}
.product-small-img img:hover
{
  opacity: 0.6;
}
.product-small-img
{
  float: left;
  align-items: left;
}

.product
{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

